.social-logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 5px;
  margin-top: 15px;
  transition: all 0.3s ease;
}




.main-section {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #121212;
  color: white;
  max-height: 400px;
  min-height: 120px;
  border-top: 3px solid rgb(0, 123, 255); 
  border-left: 1px solid rgb(0, 123, 255); 
  border-right: 1px solid rgb(0, 123, 255); 
  box-shadow: 0 4px 15px rgba(0, 120, 249, 0.963);
  border-radius: 120px 120px 0 0; 
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.main-section:hover {
  box-shadow: 0 8px 30px rgb(255, 200, 0); 
  transform: translateY(-15px);
  z-index: 2;
    border-top: 3px solid rgb(255, 208, 0); 
  border-left: 1px solid rgb(255, 217, 0); 
  border-right: 1px solid rgb(255, 196, 0);
  transition: 1s;
}

.left-section, .middle-section, .right-section {
  flex: 1 1 30%;
}

/* Styling for the container */
.name {
  font-size: clamp(0.7rem, 2vw + 1rem, 3rem);
  font-weight: bold;
  color: #ff9500;
  margin-bottom: 15px;
  margin-left: 40px;
  display: flex;  
  align-items: center;  
}

.main-logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;  
  object-fit: cover;  
  margin-right: 10px;  
}


.description {
  font-size: 1rem;
  color: #e0e0e0;
}

.middle-section {
  text-align: center;
}

.follow-us-title {
  font-size: 1.8rem;
  color: #00a4fc;
  margin-bottom: 10px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 10px rgb(0, 166, 255);
}

.right-section {
  text-align: right;
}

.contact-title {
  font-size: 1.5rem;
  color: #00a4fc;
  margin-bottom: 10px;
  margin-right: 20px;
}

.hours, .email, .phone {
  font-size: 1rem;
  color: #e0e0e0;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .main-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .left-section, .middle-section, .right-section {
    flex: 1 1 100%;
    margin-bottom: 20px;
  }

  .social-links {
    gap: 15px;
  }
}
